header {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #222222;
    justify-content: space-evenly;
}

header img {
    height: 80px;
    width: 80px;
}

.nav-bar {
    display: flex;
    flex-direction: rox;
    gap: 35px;
}

.nav-bar-item {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}