header {
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #222222;
    justify-content: space-evenly;
}

header img {
    height: 80px;
    width: 80px;
}

.nav-bar {
    display: flex;
    flex-direction: rox;
    gap: 35px;
    @media (max-width: 500px) {
        gap:20px;
    }
}

.nav-bar-item {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    @media (max-width: 500px) {
        font-size: 12px;
    }
}