.container {
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;

    padding: 0px 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media (max-width: 500px) {
        max-width: 80%;
    }
}


.presentation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin-top: 60px;
}

.presentation h1 {
    text-align: center;
    font-size: 45px;
}

.presentation p {
    text-align: center;
    font-size: 18px;
    max-width: 750px;
}

.presentation img {
    height: 130px;
    width: 130px;
    border-radius: 50%;
}

.action-buttons {
    display: flex;
    flex-direction: row;

    gap: 18px;
}

.tech-stack {
    margin-top: 20px;
}

.tech-stack h2 {
    text-align: center;
}

.tech-stack-items {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 100%;
    gap: 60px;

    @media (max-width: 500px) {
        grid-template-columns: repeat(3, 1fr);
    }
}

.projects h2 {
    text-align: center;
}

.projects-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-content: center;
    justify-items: center;
    @media (max-width: 500px) {
        display: flex;
        flex-direction: column;
    }
}

.experience {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-top: 20px;
    width: 100%;
}

.experience h2 {
    text-align: center;
}

.experience-items {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 25px 0;
}

#projects {
    font-size: 32px;
    color: #fff;
    font-weight: bold;
}